@font-face {
    font-family: 'CursorGothic';
    /* A name you choose to use later */
    src: url('../fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2');
    /* Fallback formats */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Controls font loading behavior */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CursorGothic";
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0 55px;
    padding-right: 55px;
    background-color: #14120b;
    position: relative;
}

.flex {
    display: flex;
}

/* header{
    width: 100%;
    } */

    nav {
        /* background-color: red; */
        /* border: 2px red solid; */
        /* padding: 10px; */
        width: 86%;
        height: 52px;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: #14120b;
        padding-right: 7.5px;
        color: rgb(237, 236, 236);
    }

ul {
    list-style: none;
}

nav img {
    height: 22.4px;
}

.navEle {
    justify-content: space-between;
    gap: 32px;
    font-size: 14px;
}

.navCenter {
    justify-content: center;
    align-items: center;
    margin-left: 66px;
}

.navRight {
    gap: 8px;
}

.b-SignIn {
    background-color: transparent;
    color: rgb(237, 236, 236);
    border-radius: 20px;
    border: 1px solid #edecec33;
    font-size: 14px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
}

.b-Download {
    background-color: rgb(237, 236, 236);
    color: rgb(20, 18, 11);
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 4px 11px;
}

.hero {
    padding-top: 164px;
}

.heroText p {
    font-size: 25.5px;
    color: rgb(237, 236, 236);
}

.hero button {
    margin-top: 20px;
    background-color: rgb(237, 236, 236);
    border-radius: 100px;
    border: none;
    padding: 11px 23px 11px 23px;
}

.hero a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(20, 18, 11);
}
.heroText{
    margin-bottom: 60px;
}
.hero img{
    width: 100%;
}













